@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

.login-background {
  background-color: #008080;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.login-page-content {
  height: 76vh;
  display: flex;
  align-items: center;
}

.social {
  width: 40px;
  margin-left: 15px;
}

.social-container {
  height: 14vh;
}

.login-page-header {
  height: 10vh
}

@media (max-width: 992px) {
  .info {
    display: none !important;
  }
  .login-page-content {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .login-card {
   min-width: 360px !important;
  }

}

@media (min-width: 992px) {
  .login-page-content {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .social-right {
    display: flex;
  }
}

.login-card {
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2) !important;
  width: 20em;
}
